<!DOCTYPE html>
<html>
<head itemscope itemtype="http://schema.org/WebSite">
    <title itemprop='name'>cv-root@ductn</title>
    <link rel="canonical" href="https://ductn.info" itemprop="url">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" itemprop="description" content="Duc Tran | Hanoi, Vietnam | ductn.info | ductn53@gmail.com | +84 96 14 33 906">
    <meta name="author" content="Duc Tran" itemprop="author">
    <meta name="theme-color" content="#EC4758">

    <link rel="shortcut icon" href="assets/images/D_title.png">

    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/terminal.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <style>   
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    
    <div id="terminal" v-cloak>
        
        <div class="terminal-wrap">
            <p class="terminal-top-bar"><strong>guest@ductn.info: ~</strong></p>
            <ul class="terminal-body">
                <li class="line line-1"></li>
                <li class="line line-2">&nbsp;</li>
                <li class="line" v-if="terminalInit">send mail to "ductn53@gmail.com" && dial "+84 961433906" && connect                    
                    <a href="https://stackoverflow.com/users/15650512/ductnn" target="_blank" class="remove-link-styles arun-stackoverflow arun-tader" title="Stack Overflow"><i class="fa fa-stack-overflow"></i></a>
                    &nbsp;                                             
                    <a href="https://www.linkedin.com/in/ductnn/" target="_blank" class="remove-link-styles arun-linkedin arun-tader" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                    &nbsp;                       
                    <a href="https://twitter.com/ductn4" target="_blank" class="remove-link-styles arun-twitter arun-tader" title="Twitter"><i class="fa fa-twitter"></i></a>
                    &nbsp;                        
                    <a href="https://www.facebook.com/ductn53/" target="_blank" class="remove-link-styles arun-fb arun-tader" title="Facebook"><i class="fa fa-facebook"></i></a>
                    &nbsp;                        
                    <a href="https://www.instagram.com/ductn_/" target="_blank" class="remove-link-styles arun-instagram arun-tader" title="Instagram"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="line" v-if="terminalInit">works @ "<a href="https://moonlab.asia" target="_blank" class="remove-link-styles">MoonLab, Hanoi, Vietnam</a>"</li>
                <li class="line" v-if="terminalInit">home town => Hanoi, Vietnam</li>
                <li class="line" v-if="terminalInit">&nbsp;</li>
                <li class="line" v-if="terminalInit">
                	site --help
                	<li v-if="terminalInit">Available commands:</li>
            		<li v-if="terminalInit" class="bullet"><a v-on:click="executeThisCommand('exit && show gui')">exit && show gui</a></li>
                	<li v-if="terminalInit" class="bullet"><a v-on:click="executeThisCommand('wget resume')">wget resume</a></li>
                	<li v-if="terminalInit" class="bullet"><a v-on:click="executeThisCommand('echo resume')">echo resume</a></li>
                	<li v-if="terminalInit" class="bullet"><a v-on:click="executeThisCommand('ls projects')">ls projects</a></li>
                	<li v-if="terminalInit" class="bullet"><a v-on:click="executeThisCommand('ls experiences')">ls experiences</a></li>
                	<li v-if="terminalInit" class="bullet"><a v-on:click="executeThisCommand('ls skills')">ls skills</a></li>
                	<li v-if="terminalInit" class="bullet">
                        <a v-on:click="executeThisCommand('ls edu')">ls edu</a>
                    </li>
                	<!--<li class="bullet"></li>-->
                	<!--<li v-if="terminalInit" class="bullet"><a v-on:click="executeThisCommand('talk')">talk</a></li>-->
                </li>

                <li v-for="command in allCommands" v-bind:class="command.line_class" v-html="command.txt"></li>

                <li class="input-line line" v-if="terminalInit">
            	    <input type="text" class="terminal-input" 
                        v-model="inputVal" 
                        v-on:keyup.enter="terminalSubmit" 
                        v-on:keyup.up="terminalHistory('up')"
                        v-on:keyup.down="terminalHistory('down')"
                        v-on:keydown.ctrl.67="commandCtrl('C')"
                        v-on:keydown.ctrl.90="commandCtrl('Z')"
                    />
                </li>

            </ul>

            <div class="terminal-footer">
                <a class="btn close-terminal-btn" v-bind:href="rootUrl" v-if="terminalInit">
                    Close this terminal and view my webpage
                    <i class="fa fa-hand-o-right"></i>
                </a>
            </div>
            
        </div>
    </div>
<script>   

</script>

    <script src="assets/js/possible_commands.js"></script>
    <script src="assets/js/reply_commands.js"></script>
    <script src="assets/js/terminal.js"></script>
</body>
</html>